*{
    margin: 0%;
    padding: 0%;
}
.parent{
    position: relative;
    background-image: url("/image/istockphoto-172192658-1024x1024\(1\).jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.child{

}
h1{
    color:white;
}
